<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" >
    <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
    <header>
        <style>* {
    margin: 10px;
        }
    blockquote {
      background: #f9f9f9;
      border-left: 5px solid #ccc;
      margin: 1.5em 0;
      padding: 0.5em 1em;
    }
</style>
        <h1>Школьная библиотека</h1>
        <blockquote>Я получил образование в библиотеке. Совершенно бесплатно. Рэй Брэдбери</blockquote>
    </header>
    <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Главная </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/books">Книги</a>
  </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
    <a class="nav-link" href="/profile">{{ current_user.name }}</a>
  </li>
               <li class="nav-item">
    <a class="nav-link" href="/logout">Выйти</a>
  </li>
        {% else %}
        <li class="nav-item">
    <a class="nav-link" href="/register">Зарегистрироваться</a>
  </li>
        <li class="nav-item">
    <a class="nav-link" href="/login">Войти</a>
  </li>
        <li class="nav-item">
    <a href="https://t.me/Library_0202bot" target="_blank" style="display: inline-block; background: #0088cc; color: white; padding: 8px 12px; border-radius: 5px; text-decoration: none;">
  <span>📢 Мы в Telegram</span>
</a>
  </li>
        {% endif %}
</ul>
        <!-- Begin page content -->
        <main role="main" class="container">
        {% block content %}{% endblock %}
        </main>
    </body>
</html>