{% extends "base.html" %}

{% block content %}
<h3 xmlns="http://www.w3.org/1999/html">Список книг</h3>
{% if current_user.is_authenticated and current_user.id == 2 %}
    <a href="add_books" class="btn btn-secondary">Добавить книгу</a>
{% endif %}
{% for i in range(0, books|length, 3) %}
<div class="card-group">
<div class="card" style="width: 14rem;">
  <img src="/static/images/{{books[i].img}}" class="card-img-top" alt="Обложка" style="width: 17rem;">
  <div class="card-body">
    <p class="card-text">{{books[i].title}}</p>
      <p class="card-text">{{books[i].author}}</p>
      <p class="card-text"><small class="text-body-secondary">{{books[i].genre}}</small></p>
      {% if books[i].status == True %}
      <p class="card-text"><small class="text-body-secondary">В наличии</small></p>
      {% else %}
      <p class="card-text"><small class="text-body-secondary">Нет в наличии</small></p>
      {% endif %}
  </div>
    {% if current_user.is_authenticated and current_user.id == 2 %}
    <div>
        <a href="/books/{{ books[i].id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/books_delete/{{ books[i].id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
</div>


    {% if i + 1 < books|length %}
    <div class="card" style="width: 14rem;">
  <img src="/static/images/{{books[i + 1].img}}" class="card-img-top" alt="Обложка" style="width: 17rem;">
  <div class="card-body">
    <p class="card-text">{{books[i + 1].title}}</p>
      <p class="card-text">{{books[i + 1].author}}</p>
      <p class="card-text"><small class="text-body-secondary">{{books[i + 1].genre}}</small></p>
      {% if books[i + 1].status == True %}
      <p class="card-text"><small class="text-body-secondary">В наличии</small></p>
      {% else %}
      <p class="card-text"><small class="text-body-secondary">Нет в наличии</small></p>
      {% endif %}
  </div>
        {% if current_user.is_authenticated and current_user.id == 2 %}
    <div>
        <a href="/books/{{ books[i + 1].id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/books_delete/{{ books[i + 1].id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
</div>
    {% endif %}
{% if i + 2 < books|length %}
    <div class="card" style="width: 14rem;">
  <img src="/static/images/{{books[i + 2].img}}" class="card-img-top" alt="Обложка" style="width: 17rem;">
  <div class="card-body">
    <p class="card-text">{{books[i + 2].title}}</p>
      <p class="card-text">{{books[i + 2].author}}</p>
      <p class="card-text"><small class="text-body-secondary">{{books[i + 2].genre}}</small></p>
      {% if books[i + 2].status == True %}
      <p class="card-text"><small class="text-body-secondary">В наличии</small></p>
      {% else %}
      <p class="card-text"><small class="text-body-secondary">Нет в наличии</small></p>
      {% endif %}
  </div>
        {% if current_user.is_authenticated and current_user.id == 2 %}
    <div>
        <a href="/books/{{ books[i + 2].id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/books_delete/{{ books[i + 2].id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
</div>
    {% endif %}

</div>

{% endfor %}
{% endblock %}
